* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitore1 {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.title1 {
    font-family: "Fredoka", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(247, 66, 141);
    margin: 20px auto;
    text-align: center;


}

.textundertitle {
    display: flex;
    text-align: center;
    margin: 25px auto;

}

.griglia {
    display: flex;
    justify-content: space-between;

    
}

.col {
    background-color: black;
    width: calc(100% / 4);
    width: 350px;
    font-family: "Fredoka", serif;
    color: white;
    display: flex;
}

.Foto {
    width: 100px;
    height: 100px;
}


.Nome {
    font-size: 18px;
    display: flex;
    margin: 2px auto;

}

.Ruolo {
    font-weight: 1;
    font-size: 15px;
    margin: 2px auto; 
}

.Email {
    color: lightblue;
    text-decoration: none;
    margin: 2px auto;
}

.box {
    
}