* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitore1 {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.title1 {
    font-family: "Fredoka", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(247, 66, 141);
    margin: 20px auto;
    text-align: center;


}

.textundertitle {
    text-align: center;
    margin: 25px auto;

}

.griglia {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.colonna {
    width: calc(100 /3);
    background-color: black;
    font-family: "Fredoka", serif;
    color: white;
    margin: 5px 0px 15px ;
    display: flex;

    
}

.box {
    width: 250px;
    margin: 1px 15px;
    background-color: black;
}


.Foto {
    width: 100px;
    height: 100px;
}


.Nome {
    font-size: 20px;
    margin: 8px auto;

}

.Ruolo {
    font-weight: 1;
    font-size: 17px;
    margin: 8px auto;
}

.Email {
    color: lightblue;
    text-decoration: none;
    margin: 8px auto;
}

